-- Create 'Introduction to Cybersecurity' Course with All Modules and Lessons
-- Run this script in Supabase SQL Editor

BEGIN;

-- Step 1: Create or get cybersecurity category
INSERT INTO categories (name, description, slug, icon, color)
VALUES ('Cybersecurity', 'Cybersecurity training and awareness courses', 'cybersecurity', '', '#dc2626')
ON CONFLICT (slug) DO NOTHING;

-- Step 2: Create the main course

-- Get the course ID for reference
DO \$\$
DECLARE
  course_uuid uuid;
  section_uuid uuid;
  lesson_order int := 0;
BEGIN
  -- Get the course ID
  SELECT id INTO course_uuid FROM courses WHERE slug = 'introduction-to-cybersecurity';
  
  -- Module 1: Understanding Cybersecurity
  INSERT INTO course_sections (course_id, title, description, order_index, is_published)
  VALUES (course_uuid, 'Understanding Cybersecurity', 'Foundation concepts of cybersecurity and its importance for businesses', 0, true)
  RETURNING id INTO section_uuid;
  
  -- Module 1 Lessons
  
  lesson_order := lesson_order + 5;
  
  -- Module 2: Safe Use of Technology at Work
  INSERT INTO course_sections (course_id, title, description, order_index, is_published)
  VALUES (course_uuid, 'Safe Use of Technology at Work', 'Best practices for secure technology usage in the workplace', 1, true)
  RETURNING id INTO section_uuid;
  
  -- Module 2 Lessons
  
  lesson_order := lesson_order + 5;
  
  -- Module 3: Social Engineering & Phishing Awareness
  INSERT INTO course_sections (course_id, title, description, order_index, is_published)
  VALUES (course_uuid, 'Social Engineering & Phishing Awareness', 'Understanding and defending against social engineering attacks', 2, true)
  RETURNING id INTO section_uuid;
  
  -- Module 3 Lessons
  
  lesson_order := lesson_order + 5;
  
  -- Module 4: Data Protection & Privacy
  
  -- Module 4 Lessons
  
  lesson_order := lesson_order + 5;
  
  -- Module 5: Workplace Security Culture
  
  -- Module 5 Lessons
  
END \$\$;

COMMIT;

-- Display success message and course info
SELECT 
  'Course created successfully!' as message,
  c.id as course_id,
  c.title as course_title,
  COUNT(cs.id) as total_sections,
  COUNT(l.id) as total_lessons
FROM courses c
LEFT JOIN course_sections cs ON cs.course_id = c.id
LEFT JOIN lessons l ON l.course_id = c.id
WHERE c.slug = 'introduction-to-cybersecurity'
GROUP BY c.id, c.title;
